.idea/
out/
.idea_modules/
$RECYCLE.BIN/
**/build/
run/
runs/
libs/
/.claude/
/fabric/
/forge/
/.gradle/

/other/
src/test
/src/test/java/net/onixary/shapeShifterCurseForge/diet/RecipeDietGraphTest.java
